body {
    display:block;/*會換行,區塊,可指定高和寬*/
    font-family: "andale mono";
    text-shadow: 0 0 1px rgba(51,51,51,0.3);
    
	margin:0;
    padding:0;
    height:100%;
    background-size:50%;
    background-color:#67bdd8;
    color:#fff;
}


#nav {
    position:fixed;
    font-size: 13px;
    letter-spacing: 1.5px;
    display:inline;
   /* background: rgba(255, 255, 255, 0.5) none;*/
    text-transform: uppercase;
    float:left;
    position:fixed;
    top:40px;
    left:40px;
    z-index:60;
	
}

#front{
    position:fixed;
    z-index:50;
    
}
#front-girl{
    position:fixed;
    right: 100px;
    z-index:55; 
    bottom:50px;
}
#front-desk{
    position:fixed;
    z-index:50;
    bottom:0px;
}


ol, ul {
	list-style: none;
    margin: 0; 
    padding: 5px; 
}
#nav ui,li{
    margin: 0; 
    padding: 0; 
    display: inline; 

}
#nav ul li a { 
    margin: 0 0 0 5px; 
    padding: 0 20px;
    display: block;
    float: left;
}

a, a:link,a:active,a:visited {
	color:#fff;
	outline: none;
	text-decoration:none;
}
a:hover { 
    color:#fff;
}

img { 
	display:block;
	}
h1{
    font-size: 60px;
}
#about{
	background:url(img/BG-1.jpg) 50% 0 no-repeat fixed;
	height: 650px;
	margin: 0 auto;
	padding: 120px 0 0 350px;
}

#about a{
    color: #feffd9;
}

#about a:hover{
    color: #000;
}


/**********UI*********/
#ui{
	background: url(img/BG-2.jpg) 50% 0 no-repeat fixed;

	height: 650px;
	margin: 0 auto;
	overflow: hidden;
	padding: 110px 0 0 100px;	
}
#ui-in{
	height:500px;    
    width:800px;
    float:left;
    display: inline-block;	
    white-space: nowrap; /*內容橫向排列不換行*/
    overflow:hidden;
    
   

}

#ui-in img{
    float:left;
    overflow:hidden;
    height:400px;
    margin-right: 15px; 
    
    border-bottom:5px;
    border-style:solid;
    border-color:#FFF;
    
}

 #ui-in a:hover img{
   opacity:0.7;
  
}

/**********GRAPH**********/
#graph{
	background: url(img/BG-5.jpg) 50% 0 no-repeat fixed;
	height: 650px;
	margin: 0 auto;
	overflow: hidden;
	padding: 200px 0 0 100px;	
}

#graph-in{
	height:500px;    
    width:800px;
    float:left;
    display: inline-block;	
    white-space: nowrap; /*內容橫向排列不換行*/
    overflow:hidden;
}

#graph-in img{
    float:left;
    overflow:hidden;
    height:220px;
    margin-right: 15px; 
    
    border: 5px;
    border-style:solid;
    border-color:#FFF;
    border-radius:10px;
    
}

#graph-in li:hover img{
    opacity:0.7;
}

/**********ILLUSTRATION**********/
#illustrate{
	background: url(img/BG-3.jpg) 50% 0 no-repeat fixed;
    height: 650px;
	margin: 0 auto;
	overflow: hidden;
	padding: 110px 0 0 100px;
}

#illustrate-in{
	height:500px;    
    width:850px;
    float:left;
    display: inline-block;	
    white-space: nowrap; /*內容橫向排列不換行*/
    overflow:hidden;
}

#illustrate img{
    float:left;
    overflow:hidden;
    height:150px;
    margin-right: 10px; 
        margin-bottom: 15px; 
    border-radius:6px;
}

#illustrate .girl img{
    float:left;
    overflow:hidden;
    height:200px;
    margin-right: 10px; 
        margin-bottom: 15px;  
     border-radius:6px;
}

#illustrate-in li:hover img{
    opacity:0.7;
}

/**********CONTACT**********/
#contact{
	background: url(img/BG-4.jpg) 50% 0 no-repeat fixed;

	height: 650px;
	padding: 120px 0 0 350px;	
}

.contact li a:hover{
    color: #000;
}



